doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,shrink-to-fit=no')
    title MercadoPago payflow example
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='/custom.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
    link(rel='stylesheet', href='/jquery.json-viewer.css')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    script(src='/jquery.json-viewer.js')
    script(src="/typed.custom.js")
    script(async="true" type="text/javascript").
        $(document).ready(function () {

            var json = JSON.parse('!{map.response}');
            $('#json-viewer').jsonViewer(json, {withQuotes: false});


            $("#typed").typed({
                strings: ["Your transaction was "+json.content.status],
                typeSpeed: 0,
                backSpeed: 0,
                smartBackspace: true, // this is a default
                loop: true,
            });
        });

    .container
        .row
            .col-sm-12
                .text-editor-wrap
                    .title-bar
                        span.title
                            | typed.js ? bash ? 80x
                            span.terminal-height 10
                    .text-body
                        | $
                        span#typed
                        span.typed-cursor
        br
        .row
            .col-lg-4
                .card.mb-5.mb-lg-0
                    .card-body
                        h6.card-price.text-center
                            | Este es el resultado de tu operacion
                        hr
                        //pre.
                        //    #{map}
                        //pre.
                        //    #{map.content}
                        pre#json-viewer
                        a.btn.btn-block.btn-primary.text-uppercase(href='/') Finalizar
